@import 'common';

.help {
    .filter {
        select {
            padding-left: 0;
            padding-right: 0;
        }
        .btn-group {
            width: 100%;
            > .btn {
                height: 30px;
                padding: 0 10px;
                text-align: left;
                font-size: 12px;
                font-weight: bold;
                border-radius: 2px;
                .caret {
                    float: right;
                    margin-top: 6px;
                }
            }
            > .dropdown-menu {
                width: 100%;
                margin-top: -1px;
                border-radius: 0;
                a {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 12px;
                }
            }
        }
    }
    .help-menu {
        ul {
            border: 1px solid #ccc;
            li {
                a {
                    display: block;
                    height: 35px;
                    padding-left: 15px;
                    padding-right: 15px;
                    line-height: 33px;
                    border-bottom: 1px solid #ccc;
                    background-color: #eee;
                    color: #111;
                    font-weight: bold;
                    background: -webkit-linear-gradient(#fff, #efefef);
                    background: linear-gradient(#fff, #efefef);
                    .glyphicon {
                        float: right;
                        margin-top: 11px;
                    }
                }
                &:last-child {
                    a {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    .details {
        .nav-tabs {
            
        }
    }
    .setting {
        
    }
}