.font-gl {
  font-family: 'Nanum Gothic Light', sans-serif; }

.font-mj, .help .notify .row > div > div {
  font-family: 'Nanum Myeongjo', sans-serif; }

.font {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 12px;
  background-color: #222; }

.font-lg-1 {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 15px; }

.font-lg-2 {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 14px; }

.font-sm {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 10px; }

.help .filter select {
  padding-left: 0;
  padding-right: 0; }
.help .filter .btn-group {
  width: 100%; }
  .help .filter .btn-group > .btn {
    height: 30px;
    padding: 0 10px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px; }
    .help .filter .btn-group > .btn .caret {
      float: right;
      margin-top: 6px; }
  .help .filter .btn-group > .dropdown-menu {
    width: 100%;
    margin-top: -1px;
    border-radius: 0; }
    .help .filter .btn-group > .dropdown-menu a {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px; }
.help .help-menu ul {
  border: 1px solid #ccc; }
  .help .help-menu ul li a {
    display: block;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 33px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    color: #111;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff, #efefef);
    background: linear-gradient(#fff, #efefef); }
    .help .help-menu ul li a .glyphicon {
      float: right;
      margin-top: 11px; }
  .help .help-menu ul li:last-child a {
    border-bottom: 0; }
.help .details .nav-tabs {
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 0; }
  .help .details .nav-tabs li {
    color: #ccc; }
    .help .details .nav-tabs li::before {
      content: '|'; }
    .help .details .nav-tabs li:first-child::before {
      content: ''; }
    .help .details .nav-tabs li a {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      background-color: transparent;
      color: #999; }
    .help .details .nav-tabs li.active a {
      border: 0;
      color: #1b82ab; }
.help .details .tab-content {
  margin: 10px 0 20px 0; }
  .help .details .tab-content .tab-pane > h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: bold; }
  .help .details .tab-content .tab-pane > div {
    margin-bottom: 20px; }
    .help .details .tab-content .tab-pane > div h4 {
      margin: 0 0 5px 0;
      font-size: 12px;
      font-weight: bold; }
    .help .details .tab-content .tab-pane > div p {
      margin: 0; }
    .help .details .tab-content .tab-pane > div ul {
      margin-bottom: 10px; }
      .help .details .tab-content .tab-pane > div ul li::before {
        content: '- '; }
.help .notify .row {
  margin-left: -5px;
  margin-right: -5px; }
  .help .notify .row > div {
    padding-left: 5px;
    padding-right: 5px; }
    .help .notify .row > div > div {
      position: relative;
      min-height: 120px;
      padding: 15px;
      background-color: #eee; }
      .help .notify .row > div > div > h5 {
        margin-top: 0;
        background-color: transparent;
        color: #1b82ab; }
      .help .notify .row > div > div > hr {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 25px;
        margin: 0;
        padding: 0;
        background-color: #1b82ab; }
      .help .notify .row > div > div > p {
        margin-bottom: 0; }
        .help .notify .row > div > div > p > a {
          color: #1b82ab; }
.help .faq .details .tab-content .tab-pane > div h4 {
  color: #1b82a8;
  font-weight: normal; }
.help .setting .details .tab-content .tab-pane form {
  border: 1px solid #9a9a9a; }
.help .setting .details .tab-content .tab-pane legend {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  background-color: #ededed;
  font-size: 14px;
  line-height: 24px; }
.help .setting .details .tab-content .tab-pane .form-group {
  padding-left: 10px;
  padding-right: 10px; }
  .help .setting .details .tab-content .tab-pane .form-group.required > label::after {
    content: '*';
    color: #cc071e;
    font-weight: bold; }
  .help .setting .details .tab-content .tab-pane .form-group > .control-label {
    margin-bottom: 0; }
  .help .setting .details .tab-content .tab-pane .form-group > .radio {
    margin-top: 5px; }
    .help .setting .details .tab-content .tab-pane .form-group > .radio > label {
      margin-right: 10px; }
  .help .setting .details .tab-content .tab-pane .form-group > .error-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #cc071e; }
.help .setting .details .tab-content .tab-pane .check {
  padding-left: 10px;
  padding-right: 10px; }
  .help .setting .details .tab-content .tab-pane .check label {
    font-weight: normal; }
.help .setting .details .tab-content .tab-pane .btn-area {
  margin-top: 20px;
  margin-bottom: 20px; }
  .help .setting .details .tab-content .tab-pane .btn-area p {
    text-align: center; }
    .help .setting .details .tab-content .tab-pane .btn-area p .btn {
      background: -webkit-linear-gradient(#4f5861, #393e44);
      background: linear-gradient(#4f5861, #393e44);
      color: #ccc;
      border: 0;
      min-width: 60px; }

/*# sourceMappingURL=help.css.map */
