@import 'common';

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.list {
    .overview {
        height: 160px;
        background-image: url(/mobile/images/img_overview_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        h2 {
            margin-top: 20px;
            margin-bottom: 0;
            @extend .font;
            color: #fff;
            line-height: 18px;
            background-color: transparent;
            > span {
                opacity: .8;
            }
        }
    }
    .summary {
        height: 40px;
        line-height: 40px;
        background-color: #c4071d;
        h3 {
            display: inline;
            @extend .font-lg-1;
            font-weight: bold;
            color: #fff;
        }
        p {
            display: inline;
            color: #fff;
        }
        select {
            padding: 0;
            margin-top: 5px;
            border-radius: 2px;
        }
    }
    .filter {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f0f0f0;
        p {
            margin-bottom: 5px;
            &:nth-of-type(3) {
                margin-bottom: 0;
            }
        }
        select {
            padding: 0 3px;
        }
    }
    .list {
        li {
            overflow: hidden;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 2px solid #dfdfdf;
            figure {
                float: left;
                img {
                    width: 95px;
                    height: 95px;
                    border: 1px solid #f0f0f0;
                }
            }
            .details {
                margin-left: 105px;
                h4 {
                    margin: 0;
                    @extend .font-lg-1;
                    color: #111;
                }
                small {
                    @extend .font-sm;
                    color: #888;
                }
                p {
                    margin-bottom: 20px;
                    @extend .font-lg-1;
                    color: #111;
                }
                .btn-more {
                    font-family: 'Nanum Myeongjo', sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: italic;
                    color: #cd081f;
                }
            }
        }
        .loading {
            padding: 15px 0;
            margin: 0;
            text-align: center;
            img {
                width: 36px;
                height: 36px;
                -webkit-animation: spin 2s infinite steps(12);
                animation: spin 2s infinite steps(12);
            }
        }
    }
}

.view {
    .carousel {
        .item {
            img {
                width: 100%;
            }
        }
        .carousel-control {
            background-image: none;
            text-shadow: none;
            .glyphicon-menu-left,
            .glyphicon-menu-right {
                position: absolute;
                top: 50%;
                z-index: 5;
                display: inline-block;
                margin-top: -10px;
            }
            .glyphicon-menu-right {
                right: 50%;
                margin-right: -10px;
                color: #999;
            }
            .glyphicon-menu-left {
                left: 50%;
                margin-left: -10px;
                color: #999;
            }
        }
    }
    .title {
        h2 {
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: -1px;
        }
        p {
            margin-bottom: 20px;
            font-size: 13px;
        }
    }
    .summary {
        position: relative;
        padding: 10px 5px;
        border-top: 1px solid #111;
        border-bottom: 1px solid #111;
        margin-bottom: 20px;
        dl {
            margin-bottom: 0;
            font-weight: bold;
            dt {
                display: inline-block;
                width: 70px;
            }
            dd {
                display: inline-block;
            }
        }
        span {
            position: absolute;
            top: 10px;
            right: 5px;
            padding: 0 5px;
            background-color: #e1e1e1;
            color: #666;
        }
        p {
            margin-top: 10px;
            margin-bottom: 0;
            font-family: 'Nanum Myeongjo', sans-serif;
        }
    }
    .options {
        .form-group {
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 5px;
            border-radius: 2px;
            > div {
            }
            .control-label {
                padding-top: 0;
                margin-bottom: 0;
                line-height: 30px;
            }
            .form-control {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .btn-group {
            width: 100%;
            margin-top: 20px;
            .btn {
                text-align: left;
                font-family: 'Nanum Myeongjo', sans-serif;
                font-style: italic;
                border-radius: 0;
                color: #fff;
                .glyphicon {
                    float: right;
                    margin-top: 2px;
                }
                &[type="submit"] {
                    background-color: #434343;
                    border-color: #434343;
                }
            }
        }
        .link-group {
            margin-top: 10px;
            a {
                font-family: 'Nanum Myeongjo', sans-serif;
                font-style: italic;
                color: #111;
            }
        }
    }
    .notes {
        height: 30px;
        margin-top: 20px;
        background-color: $main-color;
        .sns {
            padding-top: 5px;
            margin-bottom: 0;
            a {
                float: left;
                margin-right: 5px;
            }
            img {
                width: 20px;
            }
        }
        .row {
            > div {
                > a {
                    line-height: 30px;
                    color: #fff;
                }
            }
        }
        .modal {
            .modal-dialog {
                border-top: 3px solid $main-color;
            }
            .modal-content {
                border: {
                    top: 0;
                    left: 1px solid #cdcdcd;
                    right: 1px solid #cdcdcd;
                    bottom: 1px solid #cdcdcd;
                }
                border-radius: 0;
            }
            .modal-header {
                padding-top: 7px;
                padding-bottom: 5px;
                .close {
                    margin-top: -5px;
                }
            }
            .modal-title {
                color: $main-color;
                font-size: 14px;
            }
        }
    }
    .collection {
        margin-top: 20px;
        h4 {
            display: inline-block;
            position: relative;
            padding-top: 10px;
            margin: 0;
            color: $main-color;
            font-size: 14px;
            font-weight: bold;
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $main-color;
            }
        }
        .glyphicon-menu-left {
            left: 0 !important;
            margin-left: 0 !important;
        }
        .glyphicon-menu-right {
            right: 0 !important;
            margin-right: 0 !important;
        }
        .item {
            padding-left: 20px;
            padding-right: 20px;
        }
        .related-item {
            display: block;
            text-align: center;
            color: #111;
            figure {
                img {
                    margin: 0 auto;
                }
            }
            h5 {
                margin-bottom: 0;
                color: #111;
                font-size: 12px;
            }
            small {
                color: #888;
            }
        }
    }
    .designer {
        margin-top: 10px;
        .figure {
            padding: 10px;
            border: 1px solid #ccc;
            figure {
                position: relative;
                img {
                    margin: 0 auto;
                }
                figcaption {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    margin-top: -15px;
                    text-align: center;
                    color: #fff;
                    background-color: rgba($main-color, .8);
                }
            }
        }
        .details {
            padding-top: 5px;
            border-top: 1px solid $main-color;
            margin-top: 15px;
            text-align: center;
            @extend .font-mj;
        }
    }
}