.font-gl {
  font-family: 'Nanum Gothic Light', sans-serif; }

.font-mj {
  font-family: 'Nanum Myeongjo', sans-serif; }

.font {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 12px;
  background-color: #222; }

.font-lg-1 {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 15px; }

.font-lg-2 {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 14px; }

.font-sm {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 10px; }

.overview figure img {
  margin: 0 auto; }

.features {
  margin-top: 10px; }
  .features a {
    display: table;
    width: 100%;
    height: 120px;
    margin-bottom: 5px;
    text-decoration: none; }
    @media (min-width: 480px) {
      .features a {
        height: 150px; } }
    @media (min-width: 640px) {
      .features a {
        height: 200px; } }
    @media (min-width: 992px) {
      .features a {
        height: 240px; } }
    .features a > div {
      display: table-cell;
      width: 50%; }
      .features a > div.figure {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
      .features a > div.details {
        padding-left: 20px;
        padding-right: 20px;
        vertical-align: middle;
        text-align: center; }
    .features a .gift {
      width: 12px; }
    .features a h4 {
      margin: 10px 0 0 0;
      color: #222;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 14px; }
    .features a hr {
      margin-top: 10px;
      margin-bottom: 10px; }
    .features a p, .features a address {
      margin-bottom: 0;
      color: #848484;
      font-family: 'Nanum Myeongjo', sans-serif; }
    .features a:nth-of-type(1) .figure {
      background-image: url(/mobile/images/main/img_feature_1.jpg); }
    .features a:nth-of-type(1) .details {
      background-color: #f1f1f1; }
      .features a:nth-of-type(1) .details h4 {
        margin-bottom: 15px;
        color: #aa2230; }
    .features a:nth-of-type(2) .figure {
      background-image: url(/mobile/images/main/img_feature_2.jpg); }
    .features a:nth-of-type(3) .figure {
      background-image: url(/mobile/images/main/img_feature_3.jpg); }
    .features a:nth-of-type(4) .details {
      background-image: url(/mobile/images/main/img_feature_4.jpg); }
      .features a:nth-of-type(4) .details h4 {
        color: #222; }
      .features a:nth-of-type(4) .details p {
        color: #444; }
    .features a:nth-of-type(5) .figure {
      background-image: url(/mobile/images/main/img_feature_5.jpg); }
    .features a:nth-of-type(6) .figure {
      background-image: url(/mobile/images/main/img_feature_6.jpg); }
    .features a:nth-of-type(7) .details {
      background-image: url(/mobile/images/main/img_feature_7.jpg); }
      .features a:nth-of-type(7) .details h4, .features a:nth-of-type(7) .details p {
        color: #fff; }
    .features a:nth-of-type(4) .details, .features a:nth-of-type(7) .details {
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
      vertical-align: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
      .features a:nth-of-type(4) .details h4, .features a:nth-of-type(7) .details h4 {
        margin-top: 20px;
        margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
