@charset "UTF-8";
.font-gl {
  font-family: 'Nanum Gothic Light', sans-serif; }

.font-mj {
  font-family: 'Nanum Myeongjo', sans-serif; }

.font {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 12px;
  background-color: #222; }

.font-lg-1 {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 15px; }

.font-lg-2 {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-size: 14px; }

.font-sm {
  font-family: 'Nanum Gothic Light', sans-serif;
  font-size: 10px; }

.store .overview img {
  margin: 0 auto; }
.store .list .search {
  padding: 10px;
  border: 1px solid #d1d1d1;
  margin-top: 10px;
  background-color: #f0f0f0; }
  .store .list .search h4 {
    margin-top: 0;
    color: #999;
    font-size: 12px; }
  .store .list .search .view-type {
    padding-bottom: 15px;
    border-bottom: 1px solid #a1a1a1; }
    .store .list .search .view-type ul {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid #ccc;
      background-color: #fff; }
      .store .list .search .view-type ul li a {
        display: block;
        padding-left: 10px;
        color: #999;
        line-height: 22px; }
      .store .list .search .view-type ul li.active a .glyphicon {
        color: #3b82a6; }
  .store .list .search .location {
    margin-top: 15px; }
    .store .list .search .location .or {
      margin-top: 10px;
      text-align: center; }
    .store .list .search .location .btn-area {
      text-align: center; }
    .store .list .search .location .btn {
      background: -webkit-linear-gradient(#4f5861, #393e44);
      background: linear-gradient(#4f5861, #393e44);
      color: #ccc;
      border: 0;
      min-width: 60px; }
.store .list .category .form-group, .store .list .store-type .form-group {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d7d7d7;
  margin-bottom: 0;
  background-color: #fff; }
  .store .list .category .form-group .checkbox, .store .list .store-type .form-group .checkbox {
    color: #999; }
.store .list .store-type {
  margin-top: 10px; }
.store .list .result-map {
  margin-top: 20px; }
  .store .list .result-map header h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold; }
  .store .list .result-map header small {
    font-size: 12px; }
  .store .list .result-map > .map {
    margin-top: 10px;
    min-height: 150px;
    background-color: #eee; }
.store .list .result-list {
  margin-top: 20px; }
  .store .list .result-list header h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold; }
  .store .list .result-list .item {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); }
    .store .list .result-list .item h4 {
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 14px; }
      .store .list .result-list .item h4 i {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #cc071e;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        color: #999; }
    .store .list .result-list .item .flag {
      position: absolute;
      top: 12px;
      right: 0;
      width: 80px; }
    .store .list .result-list .item figure img {
      border: 1px solid #dcdcdc; }
    .store .list .result-list .item .details address {
      margin-bottom: 0; }
    .store .list .result-list .item .details .category {
      margin-bottom: 20px; }
      .store .list .result-list .item .details .category li {
        display: inline; }
        .store .list .result-list .item .details .category li::before {
          padding-right: 3px;
          content: '-'; }
        .store .list .result-list .item .details .category li:first-child::before {
          padding-right: 0;
          content: ''; }
    .store .list .result-list .item .menu li {
      display: inline; }
      .store .list .result-list .item .menu li::before {
        padding-right: 3px;
        content: '•'; }
      .store .list .result-list .item .menu li:first-child::before {
        padding-right: 0;
        content: ''; }
.store .view .details {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #cdcdcd; }
  .store .view .details h3, .store .view .details h4, .store .view .details address, .store .view .details p {
    margin: 0; }
  .store .view .details h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold; }
  .store .view .details header h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold; }
  .store .view .details header ul li {
    display: inline-block;
    font-size: 12px; }
  .store .view .details .map {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 150px;
    background-color: #eee; }
  .store .view .details .business {
    margin-top: 20px; }
    .store .view .details .business dl {
      margin-bottom: 10px; }
    .store .view .details .business .row > div:nth-of-type(2) > dl {
      color: #cc071e; }

/*# sourceMappingURL=store.css.map */
