@import 'common';

.world {
    .filter {
        select {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .category {
        height: 24px;
        img {
            float: left;
            height: 24px;
            margin-right: 10px;
        }
        strong {
            display: inline-block;
            height: 24px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 22px;
            border-top: 1px solid #111;
            border-bottom: 1px solid #111;
            @extend .font-mj;
        }
    }
    .list {
        ul {
            li {
                padding-top: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #111;

                h4 {
                    @extend .font-mj;
                    font-style: italic;
                    font-weight: bold;
                }
                figure {
                    img {
                        margin: 0 auto;
                    }
                }
                .details {
                    margin-top: 10px;
                    p {
                        margin-bottom: 0;
                    }
                }
                .more {
                    padding-left: 0;
                    padding-right: 0;
                    text-align: left;
                    font-size: 12px;
                    color: #111;
                    .glyphicon {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .view {
        margin-top: 20px;
        margin-bottom: 20px;
        .title {
            margin-top: 20px;
            color: $main-color;
            font-weight: bold;
        }
        .btn-group {
            float: right;
            margin-top: 20px;
            .btn {
                border-radius: 0;
                border-color: $main-color;
                background-color: $main-color;
                color: #fff;
            }
        }
    }
}